*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
#wrpper{
    overflow-x:hidden ;
    overflow-y: auto;
    height: 100vh;
    

}

.container{

    border: 2px solid black;
    margin: 10px auto;
    height: 100vh;
    width: 80%;
    
    


}

.nav{
    display: flex;
    align-items: baseline;
    background-color:lightcyan;
    margin-left: 10%;
    margin-right: 10%;
}
#but{
    height: 35px ;
    width: 100px;
    background-color: darkblue;
    text-align: center;
    padding-top: 7px;


}
#but p{
    font-weight: 300;
    color: white;
}

#but p:hover{
    text-shadow: 3px 3px 4px red ;

}
.icon{
    margin-left: 20px ;
    
}
.header{
    position: relative;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    
}
.header p {
    padding: 10px;
    font-size: 1.5rem;
}

.main{
    top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
    /* max-width: 1200px; */
    /* border: 2px solid black; */
    display: flex;
    align-items: flex-start;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    /* align-items: baseline; */
}
.h2{
    margin-bottom: 20px;
    font-size: 1.4rem;
    padding: 3px;
    border-bottom:2px solid black;


}
.para{
    overflow: hidden;
    /* flex-wrap: wrap; */
    /* border:2px solid black; */
    width: 38%;
    height: 50%;
    gap: 20px;
    margin: 20px 20px 20px 20px ;
    
}
.para p{
    object-fit: cover;
    font-size: 1rem;
    font-weight: 400;
}

.para figure img{
    position:absolute;
    background-size: contain;
    height: 16rem;
    width: auto;
    border-radius: 10px;

}
hr{
    margin-top: 80px;
    margin-left: 10%;
    margin-right: 10%;
    color: blue;

}
.footer{
    
    margin-top: 60px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    /* border: 2px solid black; */

}
.f1{
    /* border: 2px solid black; */
    margin: 20px 20px 20px 20px ;
    font-size: 400;
    
    
}
.f1 h2{
    margin-bottom: 20px;
    font-weight: 300;
    font-family: fantasy;
    color: blue;
    text-decoration: underline;
}

